* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90%;
  padding: 0 20px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_img {
  width: 200px;
  height: 80px;
}

.navbar_mid_ullli {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar_mid_ullli_liay {
  font-size: 16px;
  font-weight: 400;
  transition: .2s;
}

.navbar_mid_ullli_liay:hover {
  color: blue;
  color: red;
}

.nav_inout {
  width: 26%
}

.nav_inout_search {
  width: 90%;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 8px;
  color: green;
  transition: 0.2s;
}

.nav_inout_search:hover{
  border: 1px solid blue;
}